@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blaze-gradient {
  background: linear-gradient(to right, #ff6600, #ffd700);
}

.blaze-gradient-2 {
  background: linear-gradient(180deg, #ffce00 0%, #ce0bb7 100%);
}

.dark-gradient-1 {
  background: linear-gradient(278.27deg, #43423b -60.13%, #2e2d2a 78.23%);
}

.neon-bx-shadow {
  box-shadow: 0px 1px 14px 0px rgba(235, 59, 168, 0.6);
}

.bx-shadow-1 {
  box-shadow: 0px 5.71px 7.99px 0px rgba(0, 0, 0, 0.341);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
